* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #1D1D1D;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #303030;
}

body::-webkit-scrollbar-thumb {
  background-color: #98BAC4;
  border-radius: 20px;
  border: 3px solid #303030;
}

#minhaImagem {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  margin: 1rem;
  cursor: pointer;
  background: #000;
  padding: .3rem;
  border-radius: 1rem;
}

#minhaImagem:hover {
  background-color: #98BAC4;
}